<h3>Chat soporte</h3>

<h4 id="name"></h4>
<form id="chatForm">
    <input type="text" name="message" id="message">
    <input type="submit" value="ENVIAR">
</form>








<script src="/socket.io/socket.io.js"></script>
<script src="/js/index.js"></script>